<h1>Listing nstu_admissions</h1>

<%= form_tag nstu_admissions_path, :method => 'get' do %>
<%= text_field_tag :search, params[:search], class: "span12 search_input", placeholder: "Roll no." %>
<%= submit_tag "Check", :class=>"btn btn-primary btn-success" ,:title => nil %>
<% end %>	

<% if @message.blank? %>
  
  <% if @notdigit.blank? %>
 
      <% if @nstu_admissions.blank? %>
<%= render 'nstu_admissions/unitchecker' %>
     <% else %>
<%= render 'nstu_admissions/result' %>
      <% end %>

<% else %>
   <%= @notdigit %>
 <% end %>
<% else %>
   <%= @message %>
 <% end %>

