<h1>Listing nstu_admissions</h1>

<%= form_tag nstu_admissions_path, :method => 'get' do %>
<%= text_field_tag :search, params[:search], class: "span12 search_input", placeholder: " Search Jobs Here" %>
<%= submit_tag "Search", :class=>"btn btn-primary btn-success" ,:title => nil %>
<% end %>	



<% if @message.blank? %>
  
  <% if @notdigit.blank? %>
 
      <% if @nstu_admissions.blank? %>
You have not passed
     <% else %>
              <table>
        <thead>
          <tr>
            <th>Roll no</th>
            <th>Name</th>
            <th>Father name</th>
            <th>Ssc gpa</th>
            <th>Hsc gpa</th>
            <th>Phy</th>
            <th>Che</th>
            <th>Math</th>
            <th>Bio</th>
            <th>Ban eng</th>
            <th>Bangla</th>
            <th>Eng</th>
            <th>Math</th>
            <th>Ana abi</th>
            <th>Gen kno</th>
            <th>Merit</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @nstu_admissions.each do |nstu_admission| %>
            <tr>
              <td><%= nstu_admission.roll_no %></td>
              <td><%= nstu_admission.name %></td>
              <td><%= nstu_admission.father_name %></td>
              <td><%= nstu_admission.ssc_gpa %></td>
              <td><%= nstu_admission.hsc_gpa %></td>
              <td><%= nstu_admission.phy %></td>
              <td><%= nstu_admission.che %></td>
              <td><%= nstu_admission.math %></td>
              <td><%= nstu_admission.bio %></td>
              <td><%= nstu_admission.ban_eng %></td>
              <td><%= nstu_admission.bangla %></td>
              <td><%= nstu_admission.ENG %></td>
              <td><%= nstu_admission.math %></td>
              <td><%= nstu_admission.ana_abi %></td>
              <td><%= nstu_admission.gen_kno %></td>
              <td><%= nstu_admission.merit %></td>
              <td><%= link_to 'Show', nstu_admission %></td>
              <td><%= link_to 'Edit', edit_nstu_admission_path(nstu_admission) %></td>
              <td><%= link_to 'Destroy', nstu_admission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
        
  <% end %>

<% else %>
   <%= @notdigit %>
 <% end %>
<% else %>
   <%= @message %>
 <% end %>

