<p id="notice"><%= notice %></p>

<p>
  <strong>Roll no:</strong>
  <%= @nstu_admission.roll_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @nstu_admission.name %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @nstu_admission.father_name %>
</p>

<p>
  <strong>Ssc gpa:</strong>
  <%= @nstu_admission.ssc_gpa %>
</p>

<p>
  <strong>Hsc gpa:</strong>
  <%= @nstu_admission.hsc_gpa %>
</p>

<p>
  <strong>Phy:</strong>
  <%= @nstu_admission.phy %>
</p>

<p>
  <strong>Che:</strong>
  <%= @nstu_admission.che %>
</p>

<p>
  <strong>Math:</strong>
  <%= @nstu_admission.math %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @nstu_admission.bio %>
</p>

<p>
  <strong>Ban eng:</strong>
  <%= @nstu_admission.ban_eng %>
</p>

<p>
  <strong>Bangla:</strong>
  <%= @nstu_admission.bangla %>
</p>

<p>
  <strong>Eng:</strong>
  <%= @nstu_admission.ENG %>
</p>

<p>
  <strong>Math:</strong>
  <%= @nstu_admission.math %>
</p>

<p>
  <strong>Ana abi:</strong>
  <%= @nstu_admission.ana_abi %>
</p>

<p>
  <strong>Gen kno:</strong>
  <%= @nstu_admission.gen_kno %>
</p>

<p>
  <strong>Merit:</strong>
  <%= @nstu_admission.merit %>
</p>

<%= link_to 'Edit', edit_nstu_admission_path(@nstu_admission) %> |
<%= link_to 'Back', nstu_admissions_path %>
